<div id="container">
  <h1>TravelSpire</h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">TravelSpire</a>
    <ul class="nav">

    </ul>
  </div>
</div>

<div id="container">
  {{view Ember.TextField valueBinding="newDestinationName" action="addDestination"}}
  {{newDestinationName}}
</div>

<ul>
  {{#each destinations}}
  <li>{{name}}</li>
  {{/each}}
</ul>
